@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
}

/* Nav bar */

nav {
    display: inline-block;
}

nav h6{
    display: inline-block;
    text-align: right;
    padding: 10px 10px;
    font-size: 14px;
    color: #69696a;
}

/* intro content */

.body {
    display: inline-block;
    width: 100%;
}

.info {
    display: inline-block;
}

.info h5 {
    font-size: 32px;
    font-weight: 800;
}

.info p {
    border-left: solid #69696a;
    padding: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #69696a;
    width: 50%;
}

/* circles */

.circles {
    display: inline-block;
    width: 50%;
}

#pink {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgba(247,   136,   167,   0.6);
}

#purple {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: rgba(207,   130,   213,   0.6);
}

#orange {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgba(247,   193,   162,   0.7);
}

/* persistent items */

.invert {
    background-color: #000000;
    border-radius: 20px;
    padding: 10px 25px;
    color: #f9fafc;
    font-size: 14px;
}

#logo {
    display: inline-block;
    font-weight: 800;
    font-size: 14px;
    color: #000000;
    margin-right: 50%;
}